* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.container_fluid {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0px auto;
}

.header {
    background-image: url(../img/bg.jpg);
    height: 80vh;
    background-size: cover;
    position: relative;
}

.product {
    position: absolute;
    margin-top: -50%;
    width: 1200px;
    height: 600px;
    overflow: hidden;
}

.checked {
    color: #00cc00;
}

.card-custom img {
    position: relative;
}

.ratig {
    padding: 7px 5px;
    position: absolute;
    margin-top: -20%;
    right: 0%;
    color: red;
}